{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Products
{% endblock title %}
{% block content %}
    <h1>Все статьи</h1>
      <h3>Количество статей на сегодня {{ posts|length}}</h3>
    <hr>
    {% if posts %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Предпоказ
                </td>
            </tr>
            {% for p in category %}
        {% for post in posts %}             <tr>
                <td>
                    {{ post.dateCreation|date:'d M Y' }}
                </td>
                <td>
                    {{ p.name }}
                </td>
                <td>
                    {{ post.title|censor|truncatewords:1  }}
                </td>
                <td>
                    {{ post.preview|censor|truncatewords:20}}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
