{% extends 'flatpages/default.html' %}
{% block title %}
Products
{% endblock title %}
{% block content %}
    <h1>Все статьи</h1>
    <hr>
    {% if posts %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Предпоказ
                </td>
            </tr>
        {% for post in posts %}             <tr>
                <td>
                    {{ post.dateCreation }}
                </td>
                <td>
                    {{ category }}
                </td>
                <td>
                    {{ post.title  }}
                </td>
                <td>
                    {{ post.preview}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}